body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  h1 {
    color: #333;
  }
  
  button {
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background-color: #F8F9FA;
    margin: 5px 0;
    padding: 5px;
    border: 0px solid #ddd;
    border-radius: 1px;
}

.navbar-expand-lg .navbar-nav {
  flex-direction: row;
  margin-top: 8px;
}

